# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtualenv
env
.Python
bin
lib
include

# don't ignore myself!
!.gitignore

# Visual Studio build objects
bin/
csx/
obj/
rcf/

# Windows Azure Publish Settings contain security keys for accessing your Windows Azure account
.publishsettings

# Visual Studio user-specific files
## Useful whenever working as part of a team or on software (like open source) that others will download
*.suo
*.user

# Access Control Service integration (via FedUtil or Add STS Reference from VS2010) will create FederationMetadata.xml below this folder
##=> looks like FederationMetadata.xml is referenced in csproj, so need it in source control
# FederationMetadata\
## Multiple applications of FedUtil will result in *.backup.1, *.backup.2, etc., files for Web.config and FederationMetadata.xml
*.backup.*

# NuGet
# Also consider letting NuGet automatically restore missing packages for you:
## http://docs.nuget.org/docs/workflows/using-nuget-without-committing-packages/
packages/
